<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="untis">
        <form action="/untis">
            <input type="text" name="className" placeholder="KlasseXx">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>